<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <call-report-panel></call-report-panel>
      </div>
    </div>
  </div>
</template>
<script>
  import CallReportPanel from './call-report-panel.vue';

  export default {
    name: 'call-report',
    components: {
      CallReportPanel,
    }
  }
</script>
