<template>
  <form @submit.prevent="submit" :disabled="form.busy || !formInvalid" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading" v-if="showHeading"><h2>Call Report</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('date')">
              <label>Date</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></div>
                <input type="date" class="form-control" v-model="form.date" @blur="touch('date')"/>
              </div>
              <span class="help-block" v-if="showHelp('date')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('start_time')">
              <label>Start Time</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-clock-o"></i></div>
                <input type="time" class="form-control" v-model="form.start_time" @blur="touch('start_time')"/>
              </div>
              <span class="help-block" v-if="showHelp('start_time')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('end_time')">
              <label>End Time</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-clock-o"></i></div>
                <input type="time" class="form-control" v-model="form.end_time" @blur="touch('end_time')"/>
              </div>
              <span class="help-block" v-if="showHelp('end_time')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
              <label>Duration</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-calculator"></i></div>
                <input type="text" class="form-control" :value="`${duration} minutes`" readonly/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" :class="required('company_name')">
              <label>Company Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-building"></i></div>
                <input type="text" class="form-control" v-model="form.company_name" @blur="touch('company_name')"/>
              </div>
              <span class="help-block" v-if="showHelp('company_name')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('contact_name')">
              <label>Contact Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                <input type="text" class="form-control" v-model="form.contact_name" @blur="touch('contact_name')"/>
              </div>
              <span class="help-block" v-if="showHelp('company_name')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('contact_title')">
              <label>Contact Title</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-briefcase"></i></div>
                <input type="text" class="form-control" v-model="form.contact_title"/>
              </div>
              <span class="help-block" v-if="showHelp('contact_title')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('contact_email')">
              <label>Contact Email</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                <input type="email" class="form-control" v-model="form.contact_email"/>
              </div>
              <span class="help-block" v-if="showHelp('contact_email')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('primary_phone')">
              <label>Primary Phone</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-phone"></i></div>
                <input type="tel" class="form-control" v-model="form.primary_phone"/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('cell_phone')">
              <label>Cell Phone</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-mobile"></i></div>
                <input type="tel" class="form-control" v-model="form.cell_phone"/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('fax')">
              <label>Fax</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-fax"></i></div>
                <input type="tel" class="form-control" v-model="form.fax"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-group" :class="required('bill_to')">
              <label>Bill to</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-dollar"></i></div>
                <input type="text" class="form-control" v-model="form.bill_to"/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group" :class="required('ship_to')">
              <label>Ship to</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-truck"></i></div>
                <input type="text" class="form-control" v-model="form.ship_to"/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group" :class="required('front')">
              <label>Front</label>
              <input type="text" class="form-control" v-model="form.front"/>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group" :class="required('front_length')">
              <label>Length</label>
              <input type="text" class="form-control" v-model="form.front_length"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-group" :class="required('wing')">
              <label>Wing</label>
              <input type="text" class="form-control" v-model="form.wing"/>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group" :class="required('wing_length')">
              <label>Length</label>
              <input type="text" class="form-control" v-model="form.wing_length"/>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Grader</label>
              <input type="text" class="form-control" v-model="form.grader"/>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Length</label>
              <input type="text" class="form-control" v-model="form.grader_length"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>X-Wing</label>
              <input type="text" class="form-control" v-model="form.vplow"/>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Length</label>
              <input type="text" class="form-control" v-model="form.vplow_length"/>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Underbody</label>
              <input type="text" class="form-control" v-model="form.underbody"/>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label>Length</label>
              <input type="text" class="form-control" v-model="form.underbody_length"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Competitor Products</label>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" v-for="item in nonWinterProducts" :key="item.id">
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="form.non_winter_products" :value="item.id"/>{{ item.name ? item.name : item.id }}
                </label>
              </div>
              <div v-if="item.id === 'Competitor' && form.non_winter_products.includes('Competitor')">
                <label>Who?</label>
                <input type="text" class="form-control" v-model="form.competitor_name" autofocus>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Our Products</label>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" v-for="item in winterProducts" :key="item.id">
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="form.winter_products" :value="item.id"/>{{ item.name ? item.name : item.id }}
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Notes</label>
              <textarea class="form-control" v-model="form.notes" rows="4"></textarea>
            </div>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>Recipients (This can be removed before launch)</label>
              <span class="help-block">You don't add yourself because you will be automatically CC'd on the email.</span>
              <div v-for="(item, index) in form.recipients" class="input-group">
                <input type="email" class="form-control" v-model="form.recipients[index]" :value="item"/>
                <div class="input-group-addon" @click.prevent="addRecipient()">
                  <i class="fa fa-fw fa-btn fa-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>-->

      </div><!-- /panel-body -->

      <div class="panel-footer">
        <!--<p v-if="formInvalid" class="text-warning">Required field(s) are missing or invalid. Check your input.</p>-->
        <button class="btn btn-primary">
          <span v-if="form.busy"><i class="fa fa-fw fa-btn fa-spin fa-spinner"></i>Working</span>
          <span v-else>Submit</span>
        </button>
      </div>
    </div>
    <!-- Uncomment this for debugging -->
    <!--<pre>{{ $v }}</pre>-->
    <!--<pre>{{ form }}</pre>-->

  </form>
</template>
<script>
import mobilelocker from '../../mobilelocker-tracking';
import {email, required} from 'vuelidate/lib/validators';
import moment from 'moment';
import _ from 'lodash';
import toastr from 'toastr';

export default {
  props: {
    showHeading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      form: new SparkForm({
        recipients: ['sales@mobilelocker.com'],
        date: moment().format('YYYY-MM-DD'),
        start_time: moment().subtract(10, 'minutes').format('HH:mm'),
        end_time: moment().format('HH:mm'),
        company_name: '',
        contact_name: '',
        contact_title: '',
        contact_email: '',
        primary_phone: '',
        cell_phone: '',
        fax: '',
        bill_to: '',
        ship_to: '',
        front: '',
        front_length: '',
        wing: '',
        wing_length: '',
        grader: '',
        grader_length: '',
        vplow: '',
        vplow_length: '',
        underbody: '',
        underbody_length: '',
        non_winter_products: [],
        competitor_name: '',
        winter_products: [],
        notes: '',
      }),
      nonWinterProducts: [
        {id: 'Product 1'},
        {id: 'Product 2'},
        {id: 'Product 3'},
        {id: 'Product 4'},
      ],
      winterProducts: [
        {id: 'Product A'},
        {id: 'Product B'},
        {id: 'Product C'},
        {id: 'Product D'},
      ]
    }
  },
  // Vuelidate: https://monterail.github.io/vuelidate/
  validations: {
    form: {
      date: {
        required,
      },
      start_time: {
        required,
      },
      end_time: {
        required,
      },
      company_name: {
        required,
      },
      contact_name: {
        required,
      },
      contact_email: {
        email,
      }
    }
  },
  computed: {
    duration() {
      if (this.form.date && this.form.start_time && this.form.end_time) {
        const start = moment(`${this.form.date} ${this.form.start_time}`);
        const end = moment(`${this.form.date} ${this.form.end_time}`);
        return Math.abs(start.diff(end, 'minutes'));
      }
      return 0;
    },
    formInvalid() {
      return !this.formValid;
    },
    formValid() {
      if (!this.$v.$invalid) {
        return true;
      }
      if (!this.$v.$dirty) {
        return false;
      }
      if (this.$v.$invalid) {
        return false;
      }
      return true;
    }
  },
  mounted() {
    window.scrollTo(0, 0);
  },
  methods: {
    addRecipient() {
      this.form.recipients.push('');
    },
    touch(field) {
      if (!_.isUndefined(this.$v.form[field])) {
        this.$v.form[field].$touch();
      }
    },
    showHelp(field) {
      if (this.error(field)) {
        return true;
      }
      if (this.warning(field)) {
        return true;
      }
      return false;
    },
    dirty(field) {
      if (_.isUndefined(this.$v.form[field])) {
        return false;
      }
      return this.$v.form[field].$dirty;
    },
    error(field) {
      if (_.isUndefined(this.$v.form[field])) {
        return false;
      }
      return this.$v.form[field].$error;
    },
    warning(field) {
      if (_.isUndefined(this.$v.form[field])) {
        return false;
      }
      return this.$v.form[field].$invalid && !this.$v.form[field].$dirty;
    },
    required(field) {
      return {
        'has-error': this.error(field),
        'has-warning': this.warning(field),
        'has-success': this.dirty(field) && !this.error(field) && !this.warning(field),
      };
    },
    submit() {
      this.form.startProcessing();
      const form = _.omit(this.form, ['busy', 'errors', 'successful']);
      mobilelocker.submitForm('call-report', form)
        .then(response => {
          toastr.success('Form submitted successfully!');
          this.$router.push({name: 'refresh', query: {route: 'call_report'}});
        })
        .catch(err => {
          toastr.error('There was a problem');
          console.error(err);
          if (err.response) {
            this.form.setErrors(err.response.data);
          } else {
            this.form.setErrors('There was a problem');
          }
        })
    }
  }
}
</script>
