<template>
  <div class="App" :class="route">
    <navbar></navbar>
    <div class="App__Container container-fluid">
      <router-view></router-view>
    </div>
  </div>
</template>
<script type="text/babel">
  import Navbar from './navbar.vue';

  export default {
    name: 'app',
    components: {
      Navbar,
    },
    computed: {
      route() {
        return `route_${this.$route.name}`;
      }
    }
  }
</script>
