<template>
  <nav class="navbar navbar-default navbar-fixed-top Navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#nav"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link :exact=true :to="{name: 'call_report'}" class="navbar-brand Navbar__App">
          <img src="images/navbar_app_logo.png" class="Navbar__App-Logo"/>
        </router-link>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav navbar-left">
          <router-link tag="li"
                       :exact=true
                       :to="{name: 'call_report'}">
            <a>
              Call
            </a>
          </router-link>
          <router-link tag="li"
                       :exact=true
                       :to="{name: 'quote'}">
            <a>
              RFQ
            </a>
          </router-link>
          <router-link tag="li"
                       :exact=true
                       :to="{name: 'tradeshow'}">
            <a>
              Trade Show
            </a>
          </router-link>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <router-link tag="li" :exact=true :to="{name: 'leads'}">
            <a>
              <i class="fa fa-fw fa-btn fa-users"></i>
              Leads
            </a>
          </router-link>
          <router-link tag="li"
                       :to="{name: 'calendars'}">
            <a>
              <i class="fa fa-fw fa-btn fa-calendar-plus-o"></i>
            </a>
          </router-link>
          <router-link tag="li" :exact=true :to="{name: 'settings'}">
            <a>
              <i class="fa fa-fw fa-btn fa-cogs"></i>
            </a>
          </router-link>
          <router-link tag="li"
                       :to="{name: 'share'}">
            <a>
              <i class="fa fa-fw fa-btn fa-paper-plane-o"></i>
            </a>
          </router-link>
          <!--<li>
            <a href="#toggleLiveMode"
               @click.prevent="toggleLiveMode()">
              {{ liveMode ? 'Live mode' : 'Practice mode' }}
            </a>
          </li>-->
          <li>
            <a href="pdf/Blank_PDF.pdf"
               @click.prevent="openPDF">
              <i class="fa fa-fw fa-btn fa-file-pdf-o"></i>
              PDF
            </a>
          </li>
          <li>
            <a href="#"
               @click.prevent="takeScreenshot">
              <i class="fa fa-fw fa-btn fa-camera"></i>
              Screenshot
            </a>
          </li>
          <li>
            <a href="mobilelocker/api?method=close-presentation"
               @click.prevent="exit">
              Exit
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script type="text/babel">
  import html2canvas from 'html2canvas';
  import mobilelocker from '../mobilelocker-tracking';

  export default {
    name: 'navbar',
    data() {
      return {
        liveMode: true,
      }
    },
    methods: {
      exit() {
        mobilelocker.closePresentation()
        .finally(() => {
          try {
            window.close();
          } catch (e) {
          }
        })
      },
      showComments() {
        mobilelocker.showComments();
      },
      openPDF() {
        mobilelocker.openPDF('pdf/Blank_PDF.pdf');
      },
      takeScreenshot() {
        // https://html2canvas.hertzen.com/getting-started
        const options = {
          logging: false,
        };
        html2canvas(document.body, options).then(canvas => {
          document.body.appendChild(canvas);
          const form = {
            screenshot: canvas.toDataURL(),
          };
          return mobilelocker.submitForm('screenshot_form', form)
            .then(() => {
              toastr.success('Screenshot saved');
              return null;
            })
        })
      },
      toggleLiveMode() {
        if (this.liveMode) {
          mobilelocker.practiceMode();
          toastr.warning('Events recorded in this session will not be included in reports.', 'Practice Mode Active');
        } else {
          mobilelocker.liveMode();
          toastr.success('Events recorded in this session will be included in reports.', 'Live Mode Active');
        }
        this.liveMode = !this.liveMode;
      }
    }
  }
</script>
