<template>
  <div></div>
</template>
<script>
  export default {
    created() {
      setTimeout(() => {
        this.$router.push({name: this.$route.query.route});
      }, 2000);
    }
  }
</script>
