<template>
  <div>
    <form @submit.prevent="submit">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
            Share Presentation
          </h2>
        </div>
        <div class="panel-body">

          <div v-for="(item, index) in form.recipients" class="form-group"
               :class="{'has-error': form.recipients[index].error}">
            <label v-if="index === 0">
              To
            </label>
            <input type="email"
                   :id="`email_${index}`"
                   class="form-control"
                   v-model="form.recipients[index].email"
                   :required="index===0"
                   placeholder="Email"
                   name="fake-email"
                   autocomplete="fake-input"/>
            <div class="help-block text-danger"
                 v-if="form.recipients[index].error">
              {{ form.recipients[index].message }}
            </div>
            <a v-if="form.recipients.length > 1"
               href="#"
               @click.prevent="removeRecipient(item)">
              <i class="fa fa-fw fa-btn fa-times"></i>
              Remove
            </a>
            <a v-if="(index === 0 && form.recipients.length === 1) || index === (form.recipients.length -1)"
               href="#"
               @click.prevent="addRecipient">
              <i class="fa fa-fw fa-btn fa-plus"></i>
              Add another
            </a>
          </div>

        </div>
        <div class="panel-footer">
          <button type="submit"
                  class="btn btn-primary">
            <span v-if="form.busy">
              Working
            </span>
            <span v-if="!form.busy">
              Share
            </span>
          </button>
        </div>
      </div>

    </form>
  </div>
</template>
<script>
import mobilelocker from '../mobilelocker-tracking';
import {v4 as uuid} from 'uuid';
import _ from 'lodash';

const NOTIFY_NONE = 0;
const NOTIFY_FIRST = 1;
const NOTIFY_EVERY = 2;
const NOTIFY_WEEKLY = 3;
const NOTIFY_MONTHLY = 4;

export default {
  data() {
    return {
      form: new SparkForm({
        recipients: [],
        notification_level: NOTIFY_EVERY,
        send_reminders: true,
      })
    }
  },
  created() {
    this.addRecipient();
  },
  methods: {
    addRecipient() {
      const recipient = {
        id: uuid(),
        name: '',
        email: '',
      };
      this.form.recipients.push(recipient)
    },
    removeRecipient(recipient) {
      this.form.recipients = _.filter(this.form.recipients, r => {
        return r.id !== recipient.id;
      });
    },
    submit() {
      if (this.form.busy) {
        return;
      }
      this.form.startProcessing();
      mobilelocker.sharePresentation(this.form.recipients, this.form.notification_level, this.form.send_reminders)
        .then(data => {
          toastr.success('The presentation will be shared.');
          this.$router.back();
          return data;
        })
    }
  }
}
</script>
