.Navbar__App {
  padding-top: 5px;
  padding-bottom: 5px;
}
.Navbar__App-Logo {
  height: 40px;
  width: auto;
}
.Navbar__Company-Logo {
  margin-top: 5px;
  height: 40px;
  width: auto;
}

.navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}
