.panel {
  .panel-heading {
    h1, h2, h3, h4, h5 {
      margin: 0;
    }
  }
}

/*.panel-default > .panel-heading {
  color: #FFFFFF;
  h2 {
    color: #FFFFFF;
  }
}*/

.panel-primary > .panel-heading {
  color: #FFFFFF;
  h2 {
    color: #FFFFFF;
  }
}
