<template>
  <form @submit.prevent="submit" v-if="lead">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Edit Lead </h2>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('name')">
              <label>Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                <input type="text"
                       class="form-control"
                       placeholder="Name"
                       v-model="form.name"
                       @blur="touch('name')"/>
              </div>
              <span class="help-block" v-if="showHelp('name')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('title')">
              <label>Title</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                <input type="text"
                       class="form-control"
                       placeholder="Job title"
                       v-model="form.title"
                       @blur="touch('title')"/>
              </div>
              <span class="help-block" v-if="showHelp('title')"><strong>Required</strong></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('phone')">
              <label>Phone</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-phone"></i></div>
                <input type="tel"
                       class="form-control"
                       placeholder="Phone number"
                       @blur="touch('phone')"
                       v-model="form.phone"/>
              </div>
              <span class="help-block" v-if="showHelp('phone')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('email')">
              <label>Email</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                <input type="email"
                       class="form-control"
                       placeholder="Email address"
                       @blur="touch('email')"
                       v-model=" form.email"/>
              </div>
              <span class="help-block" v-if="showHelp('email')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" :class="required('company')">
              <label>Company Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-building"></i></div>
                <input type="text"
                       class="form-control"
                       placeholder="Company name"
                       v-model="form.company"
                       @blur="touch('company')"/>
              </div>
              <span class="help-block" v-if="showHelp('company')"><strong>Required</strong></span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('city')">
              <label>City</label>
              <input type="text"
                     class="form-control"
                     placeholder="City"
                     v-model="form.city"/>
              <span class="help-block" v-if="showHelp('city')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('state')">
              <label>State</label>
              <select class="form-control"
                      v-model="form.state">
                <option value="">Select one</option>
                <option v-for="item in states"
                        :key="item.id"
                        :value="item.id"
                        :selected="item.id === form.state">
                  {{ item.name }}
                </option>
              </select>
              <span class="help-block" v-if="showHelp('state')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('zip')">
              <label>ZIP code</label>
              <input type="text"
                     class="form-control"
                     placeholder="ZIP Code"
                     v-model="form.zip"/>
              <span class="help-block" v-if="showHelp('zip')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('country')">
              <label>Country</label>
              <select class="form-control" v-model="form.country">
                <option value="">Select one</option>
                <option v-for="item in countries"
                        :key="item.alpha3"
                        :value="item.alpha3"
                        :selected="item.alpha3 === form.country">
                  {{ item.name }}
                </option>
              </select>
              <span class="help-block" v-if="showHelp('country')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Notes</label>
              <textarea class="form-control"
                        rows="8"
                        placeholder="Notes"
                        v-model="form.notes">
              </textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <button type="submit"
                class="btn btn-primary"
                :disabled="busy">
          Update
        </button>
        <button type="button"
                class="btn btn-danger"
                :disabled="busy"
                @click.prevent="deleteLead">
          Delete
        </button>
      </div>
    </div>
  </form>
</template>
<script>
  import {email, maxLength, minLength, numeric, required, requiredIf, requiredUnless, sameAs} from 'vuelidate/lib/validators';
  import moment from 'moment';
  import dataService from '../../services/dataService';
  import leadService from '../../services/leadService';
  import filters from '../../filters/filters';

  function initForm(lead) {
    const form = {};
    _.each(lead, (value, key) => {
      form[key] = value;
    });
    return form;
  }

  export default {
    props: {
      lead: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {
        busy: false,
        countries: dataService.getCountries(),
        form: initForm(this.lead),
        states: dataService.getStates(),
      }
    },
    validations: {
      form: {
        name: {
          required,
        },
        title: {
          required,
        },
        company: {
          required,
        },
        street: {},
        street2: {},
        city: {},
        state: {},
        country: {},
        email: {
          email,
          required,
        },
        phone: {
          required,
        },
        notes: {},
        vcard: {},
      }
    },
    computed: {
      formInvalid() {
        return !this.formValid;
      },
      formValid() {
        if (!this.$v.$invalid) {
          return true;
        }
        if (!this.$v.$dirty) {
          return false;
        }
        if (this.$v.$invalid) {
          return false;
        }
        return true;
      }
    },
    mounted() {
      window.scrollTo(0, 0);
    },
    methods: {
      touch(field) {
        if (!_.isUndefined(this.$v.form[field])) {
          this.$v.form[field].$touch();
        }
      },
      showHelp(field) {
        if (this.error(field)) {
          return true;
        }
        if (this.warning(field)) {
          return true;
        }
        return false;
      },
      dirty(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$dirty;
      },
      error(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$error;
      },
      warning(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$invalid && !this.$v.form[field].$dirty;
      },
      required(field) {
        return {
          'has-error': this.error(field),
          'has-warning': this.warning(field),
          'has-success': this.dirty(field) && !this.error(field) && !this.warning(field),
        };
      },
      submit() {
        if (this.busy) {
          return;
        }
        this.busy = true;
        leadService.updateLead(this.form)
          .then(lead => {
            return leadService.uploadLead(lead);
          })
          .then(lead => {
            toastr.success('Lead updated');
            this.busy = false;
            this.$router.push({name: 'leads'});
          });
      },
      deleteLead() {
        if (this.busy) {
          return Promise.resolve(false);
        }
        if (confirm('Are you sure you want to delete this lead?')) {
          this.busy = true;
          const lead = _.clone(this.lead);
          console.log('deleting');
          return leadService.deleteLead(lead)
            .then(() => {
              toastr.success('Lead deleted');
              this.busy = false;
              this.$router.push({name: 'leads'});
            })
        }
        return Promise.resolve(false);
      }
    }
  }
</script>
