<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>
        {{ lead.name }}
      </h2>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled m-b-0">
        <li v-if="lead.company">
          <i class="fa fa-fw fa-btn fa-building-o"></i>
          {{ lead.company }}
        </li>
        <li v-if="lead.title">
          <i class="fa fa-fw fa-btn fa-briefcase"></i>
          {{ lead.title }}
        </li>
        <li v-if="lead.email">
          <i class="fa fa-fw fa-btn fa-envelope-o"></i>
          {{ lead.email }}
        </li>
        <li v-if="lead.phone">
          <i class="fa fa-fw fa-btn fa-phone"></i>
          {{ lead.phone }}
        </li>
        <li v-if="lead.street1 || lead.city || lead.state || lead.country">
          <i class="fa fa-fw fa-btn fa-map-marker"></i>
          <span>
                {{ lead.street1 }}
              </span>
          <span>
                {{ lead.city }}<span v-if="lead.city && lead.state">, </span>
              </span>
          <span>
                {{ lead.state }}
              </span>
          <span>
                {{ lead.zip }}
              </span>
          <span>
                {{ lead.country }}
              </span>
        </li>
        <li v-if="lead.notes">
          <i class="fa fa-fw fa-btn fa-sticky-note-o"></i>
          {{ lead.notes }}
        </li>
        <li v-if="lead.created_at">
          <i class="fa fa-fw fa-btn fa-calendar-plus-o"></i>
          Created {{ lead.created_at | datetime('MMMM D, YYYY h:mm a')}}
        </li>
        <li v-if="lead.updated_at">
          <i class="fa fa-fw fa-btn fa-calendar-check-o"></i>
          Updated {{ lead.updated_at | datetime('MMMM D, YYYY h:mm a')}}
        </li>
        <li v-if="lead.uploaded_at">
          <i class="fa fa-fw fa-btn fa-upload"></i>
          Uploaded {{ lead.uploaded_at | datetime('MMMM D, YYYY h:mm a')}}
        </li>
      </ul>

    </div>
    <div class="panel-footer">
      <router-link :to="{name: 'lead.edit', params: {leadUUID: lead.uuid}}"
                   class="btn btn-default">
        <i class="fa fa-fw fa-btn fa-pencil"></i>
        Edit
      </router-link>
      <!--<button type="button"
              class="btn btn-primary"
              v-if="!lead.event_id"
              @click.prevent="uploadLead(lead)">
        <i class="fa fa-fw fa-btn fa-upload"></i>
        Upload
      </button>-->
      <button type="button"
              class="btn btn-danger"
              :disabled="busy"
              @click.prevent="deleteLead">
        <i class="fa fa-fw fa-btn fa-trash"></i>
        Delete
      </button>
    </div>
  </div>
</template>
<script>
  import leadService from '../../services/leadService';

  export default {
    props: {
      lead: {
        type: Object,
        required: true
      }
    },
    data() {
      return {

        busy: false,
      }
    },
    methods: {
      uploadLead() {
        if (this.busy) {
          return;
        }
        this.busy = true;
        leadService.uploadLead(this.lead)
          .then(updatedLead => {
            this.busy = false;
            this.$emit('updated');
          })
      },
      deleteLead() {
        if (this.busy) {
          return false;
        }
        if (confirm('Are you sure you want to delete this lead?')) {
          this.busy = true;
          const lead = _.clone(this.lead);
          console.log('deleting lead', this.lead.id);
          leadService.deleteLead(this.lead)
            .then(() => {
              toastr.success('Lead deleted');
              this.busy = false;
              this.$emit('updated');
            })
            .catch(err => {
              console.error(err);
            })
        }
        return false;
      }
    }
  }
</script>
