<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>
              {{ leads.length }} {{ pluralize('Lead', leads.length) }}
            </h2>
          </div>
        </div>

        <p v-if="leads.length === 0"
           class="alert alert-info">
          There are no leads yet.
        </p>

        <lead-panel v-for="item in leads"
                    :key="item.id"
                    @updated="fetchData"
                    :lead="item">
        </lead-panel>

      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';
import leadService from '../../services/leadService';
import LeadPanel from './lead-panel';
import filters from '../../mixins/filters';

export default {
  components: {LeadPanel},
  mixins: [filters],
  data() {
    return {
      busy: false,
      leads: [],
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      leadService.getLeads()
        .then(data => {
          this.leads = _.sortBy(data, ['created_at'], ['desc']);
        })
      //this.leads = _.isArray(leadService.getLeads());
    },
  }
}
</script>
