<template>
  <router-view :lead="lead"
               v-if="lead">
  </router-view>
</template>
<script>
  import leadService from '../../services/leadService';

  export default {
    data() {
      return {
        lead: null,
      }
    },
    computed: {
      leadUUID() {
        return this.$route.params.leadUUID;
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        leadService.getLead(this.leadUUID)
          .then(data => {
            this.lead = data;
          })
      }
    }
  }
</script>
