<template>
  <div>
    <div class="row">
      <div class="col-xs-12">

        <form>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>
                Trade Show Settings
              </h2>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Source</label>
                <input type="text"
                       class="form-control"
                       v-model="form.source"
                       required/>
              </div>
            </div>
            <div class="panel-footer">
              <button type="submit"
                      class="btn btn-primary">
                Update Source
              </button>
            </div>
          </div>
        </form>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>
              Admin
            </h2>
          </div>

          <div class="panel-body">

            <button type="button"
                    class="btn btn-default"
                    @click.prevent="resetSource">
              <i class="fa fa-fw fa-btn fa-refresh"></i>
              Reset Source
            </button>

            <button type="button"
                    class="btn btn-danger"
                    @click.prevent="clearLeads">
              <i class="fa fa-fw fa-btn fa-trash"></i>
              Delete all leads
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import leadService from '../../services/leadService';
  import filters from '../../mixins/filters';

  export default {
    mixins: [filters],
    data() {
      return {
        busy: false,
        form: {
          source: leadService.getSource(),
        },
        uploading: false,
      }
    },
    created() {

    },
    methods: {
      resetSource() {
        leadService.resetSource();
        const source = leadService.getSource();
        toastr.success(`Source reset to "${source}`);
      },
      clearLeads() {
        if (confirm('Are you sure you want to delete all of the leads from this device?')) {
          leadService.clearLeads();
          toastr.success('All leads deleted');
          this.fetchData();
        }
      },
      uploadLeads() {
        this.uploading = true;
        leadService.getLeads(true)
          .then(leads => {
            const events = [];
            leads.forEach(lead => {
              events.push(leadService.uploadLead(lead));
            });
            console.log('events', events.length);
            return Promise.all(events);
          })
          .then(result => {
            console.log('result', result);
            this.uploading = false;
            this.fetchData();
          })
          .catch(err => {
            toastr.error('There was an error');
            this.uploading = false;
          })
      }
    }
  }
</script>
