<template>
  <form @submit.prevent="submit" :disabled="form.busy || !formInvalid" novalidate>
    <div class="panel panel-default">
      <!--<div class="panel-heading" v-if="showHeading">
        <h2>
          Trade Show Signup
        </h2>
      </div>-->
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p>
              <a href="#openScanner" @click.prevent="openScanner()" class="btn btn-block btn-primary">
                <i class="fa fa-fw fa-btn fa-qrcode"></i>
                Scan attendee badge
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-sm-4">
            <p>
              <a href="#populateForm" @click.prevent="populateForm()" class="btn btn-block btn-default">
                Fill in form
              </a>
            </p>
          </div>

          <div class="col-xs-12 col-sm-4">
            <p>
              <a href="#clearForm" @click.prevent="clearForm()" class="btn btn-block btn-default">
                <i class="fa fa-fw fa-btn fa-undo"></i>
                Clear form
              </a>
            </p>
          </div>

        </div>

        <!--<div v-if="debug">
          <p class="alert alert-warning">Debug</p>
          <pre>{{ debug }}</pre>
        </div>-->

        <!--<pre>{{ events }}</pre>-->

        <div class="row" v-if="form.url">
          <div class="col-xs-12">
            <div class="form-group">
              <label>URL</label>
              <input type="url"
                     class="form-control"
                     v-model="form.url"
                     readonly/>
              <span class="help-block">This is the URL captured from the QR code. Please complete the rest of the form.</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('name')">
              <label>Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                <input type="text"
                       class="form-control"
                       placeholder="Your name"
                       v-model="form.name"
                       @blur="touch('name')"/>
              </div>
              <span class="help-block" v-if="showHelp('name')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('title')">
              <label>Your Title</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                <input type="text"
                       class="form-control"
                       placeholder="Job title"
                       v-model="form.title"
                       @blur="touch('title')"/>
              </div>
              <span class="help-block" v-if="showHelp('title')"><strong>Required</strong></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('phone')">
              <label>Your Phone</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-phone"></i></div>
                <input type="tel"
                       class="form-control"
                       placeholder="Phone number"
                       @blur="touch('phone')"
                       v-model="form.phone"/>
              </div>
              <span class="help-block" v-if="showHelp('phone')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group" :class="required('email')">
              <label>Your Email</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                <input type="email"
                       class="form-control"
                       placeholder="Email address"
                       @blur="touch('email')"
                       v-model=" form.email"/>
              </div>
              <span class="help-block" v-if="showHelp('email')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" :class="required('company')">
              <label>Company Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-building"></i></div>
                <input type="text"
                       class="form-control"
                       placeholder="Company name"
                       @blur="touch('company')"
                       v-model="form.company"/>
              </div>
              <span class="help-block" v-if="showHelp('company')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('city')">
              <label>City</label>
              <input type="text"
                     class="form-control"
                     placeholder="City"
                     v-model="form.city"/>
              <span class="help-block" v-if="showHelp('city')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('state')">
              <label>State</label>
              <select class="form-control"
                      v-model="form.state">
                <option value="">Select one</option>
                <option v-for="item in states"
                        :key="item.id"
                        :value="item.id"
                        :selected="item.id === form.state">
                  {{ item.name }}
                </option>
              </select>
              <span class="help-block" v-if="showHelp('state')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('zip')">
              <label>ZIP code</label>
              <input type="text"
                     class="form-control"
                     placeholder="ZIP Code"
                     v-model="form.zip"/>
              <span class="help-block" v-if="showHelp('zip')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group" :class="required('country')">
              <label>Country</label>
              <select class="form-control" v-model="form.country">
                <option value="">Select one</option>
                <option v-for="item in countries"
                        :key="item.alpha3"
                        :value="item.alpha3"
                        :selected="item.alpha3 === form.country">
                  {{ item.name }}
                </option>
              </select>
              <span class="help-block" v-if="showHelp('country')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Notes</label>
              <textarea class="form-control"
                        rows="2"
                        placeholder="Notes"
                        v-model="form.notes">
              </textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>
                Signature
              </label>
              <div class="clearfix">
                <canvas id="signatureCanvas">
                </canvas>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="row" v-if="form.vcard">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Scanned Data</label>
              <span class="help-block">This won't be visible in the real form</span>
              <textarea class="form-control"
                        rows="8"
                        v-model="form.vcard">
              </textarea>
            </div>
          </div>
        </div>-->

        <!--<div class="row" v-if="debug">
          <div class="col-xs-12">
            <span class="help-block">This won't be visible in the real form</span>
            <pre v-if="debug">{{ debug }}</pre>
          </div>
        </div>-->

      </div><!-- /panel-body -->

      <div class="panel-footer">
        <!--<p v-if="formInvalid" class="text-warning">Required field(s) are missing or invalid. Check your input.</p>-->
        <button class="btn btn-primary"
                :disabled="$v.$invalid || form.busy">
          <span v-if="form.busy"><i class="fa fa-fw fa-btn fa-spin fa-spinner"></i>Working</span>
          <span v-else>Submit</span>
        </button>
      </div>
    </div>
    <!-- Uncomment this for debugging -->
    <!--<pre>{{ $v }}</pre>-->
    <!--<pre>{{ form }}</pre>-->

  </form>
</template>
<script>
  import {email, maxLength, minLength, numeric, required, requiredIf, requiredUnless, sameAs} from 'vuelidate/lib/validators';
  import moment from 'moment';
  import _ from 'lodash';
  import toastr from 'toastr';
  import mobilelocker from '../../mobilelocker-tracking';
  import SignaturePad from 'signature_pad';
  import vcard from '../../services/vcard';
  //import VCard from 'vcf';
  import dataService from '../../services/dataService';
  import leadService from '../../services/leadService';

  let canvas, signaturePad;

  function initForm() {
    return leadService.initLeadForm();
  }

  export default {
    props: {
      showHeading: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        countries: dataService.getCountries(),
        debug: '',
        events: [],
        form: new SparkForm(initForm()),
        states: dataService.getStates(),
      }
    },
    // Vuelidate: https://monterail.github.io/vuelidate/
    validations: {
      form: {
        name: {
          required,
        },
        title: {
          required,
        },
        company: {
          required,
        },
        street: {},
        street2: {},
        city: {},
        state: {},
        country: {},
        email: {
          email,
          required,
        },
        phone: {
          required,
        },
        notes: {},
        vcard: {},
      }
    },
    computed: {
      formInvalid() {
        return !this.formValid;
      },
      formValid() {
        if (!this.$v.$invalid) {
          return true;
        }
        if (!this.$v.$dirty) {
          return false;
        }
        if (this.$v.$invalid) {
          return false;
        }
        return true;
      }
    },
    created() {
      //this.populateForm();
    },
    mounted() {
      window.scrollTo(0, 0);
      this.initSignaturePad();
    },
    methods: {
      initSignaturePad() {
        this.$nextTick(() => {
          canvas = document.getElementById('signatureCanvas');
          signaturePad = new SignaturePad(canvas);
          window.addEventListener('resize', this.resizeSignaturePad);
          this.resizeSignaturePad();
          console.log('SignaturePad initialized');
        });
      },
      resizeSignaturePad() {
        let ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext('2d').scale(ratio, ratio);
        signaturePad.clear(); // otherwise isEmpty() might return incorrect value
        console.log('resizeSignaturePad()');
      },
      clearSignature() {
        this.form.signature = null;
        this.form.signature_image = null;
        this.form.signature_data = null;
        signaturePad.clear()
      },
      touch(field) {
        if (!_.isUndefined(this.$v.form[field])) {
          this.$v.form[field].$touch();
        }
      },
      showHelp(field) {
        if (this.error(field)) {
          return true;
        }
        if (this.warning(field)) {
          return true;
        }
        return false;
      },
      dirty(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$dirty;
      },
      error(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$error;
      },
      warning(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$invalid && !this.$v.form[field].$dirty;
      },
      required(field) {
        return {
          'has-error': this.error(field),
          'has-warning': this.warning(field),
          'has-success': this.dirty(field) && !this.error(field) && !this.warning(field),
        };
      },
      getSessionEvents() {
        // https://mobilelocker.readme.io/reference#get-logged-events
        if (mobilelocker.isMobileLocker()) {
          return mobilelocker.getSessionEvents()
            .then(events => {
              this.events = events;
              return events;
            });
        }
        return Promise.resolve([]);
      },
      clearForm() {
        _.each(initForm(), (value, key) => {
          this.form[key] = value;
        });
        this.debug = '';
      },
      populateForm() {
        this.getSessionEvents()
          .then(events => {
            const scanEvents = _.filter(events, e => {
              return e.action === 'scan-code';
            });
            const scan = _.last(scanEvents);
            if (scan) {
              try {
                const data = JSON.parse(scan.data);
                this.form.vcard = data.code;
                if (_.isString(data.code) && data.code.toLowerCase().startsWith('http')) {
                  this.form.url = data.code;
                  this.debug = 'The QR code contained a URL instead of a vCard.';
                } else {
                  const card = vcard.parseVcardStringSync(data.code);
                  if (card && _.isArray(card) && card.length > 0) {
                    const contact = card[0];
                    if (contact) {
                      this.debug = JSON.stringify(contact, null, 2);
                      this.form.name = contact.fullname ? contact.fullname : contact.name;
                      this.form.title = contact.title;
                      this.form.email = contact.email.length > 0 ? contact.email[0].value : '';
                      this.form.phone = contact.phone.length > 0 ? contact.phone[0].value : '';
                      this.form.company = contact.org;
                      if (_.isArray(contact.addr) && contact.addr.length) {
                        const address = contact.addr[0];
                        this.form.street = address.street;
                        this.form.street2 = '';
                        this.form.city = address.city;
                        this.form.state = address.state;
                        this.form.zip = address.zip;
                        this.form.country = address.country ? address.country : 'USA';
                      }
                    }
                  }
                }
              } catch (ex) {
                this.debug = JSON.stringify(ex.message);
              }
            } else {
              this.debug = 'No scan event found';
            }
          })
      },
      openScanner() {
        mobilelocker.openScanner();
      },
      submit() {
        if (this.form.busy) {
          return;
        }
        if (this.$v.$invalid) {
          toastr.error('One or more required fields is invalid');
          return;
        }
        this.form.startProcessing();
        const form = initForm();
        _.each(initForm(), (value, key) => {
          form[key] = this.form[key];
        });
        form.signature_image = signaturePad.toDataURL();
        form.signature_data = signaturePad.toData();
        leadService.createLead(form)
          .then(lead => {
            leadService.setSource(form.source);
            return leadService.uploadLead(lead)
          })
          .then(() => {
            this.form.finishProcessing();
            toastr.success('Form submitted successfully!');
            this.$router.push({name: 'refresh', query: {route: this.$route.name}});
          })
        /*mobilelocker.submitForm('tradeshow', form)
          .then(response => {
            toastr.success('Form submitted successfully!');
            this.$router.push({name: 'refresh', query: {route: this.$route.name}});
          })
          .catch(err => {
            toastr.error('There was a problem');
            console.error(err);
            if (err.response) {
              this.form.setErrors(err.response.data);
            } else {
              this.form.setErrors('There was a problem');
            }
          })*/
      }
    }
  }
</script>
