<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <tradeshow-panel :show-heading="true"></tradeshow-panel>
      </div>
    </div>
  </div>
</template>
<script>
  import TradeshowPanel from './tradeshow-panel.vue';

  export default {
    components: {
      TradeshowPanel,
    }
  }
</script>
