<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <quote-panel :show-heading="true"></quote-panel>
      </div>
    </div>
  </div>
</template>
<script>
  import QuotePanel from './quote-panel.vue';

  export default {
    components: {
      QuotePanel,
    }
  }
</script>
