<template>
  <form @submit.prevent="submit" :disabled="form.busy || !formInvalid" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading" v-if="showHeading"><h2>Request for Quote</h2></div>
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" :class="required('category')">
              <label>Heater Category</label>
              <div class="radio" v-for="item in categories" :key="item.id">
                <label>
                  <input type="radio" name="category" v-model="form.category" :value="item.id" />{{ item.id }}
                </label>
              </div>
              <span class="help-block" v-if="showHelp('category')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" :class="required('company_name')">
              <label>Company Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-building"></i></div>
                <input type="text" class="form-control" v-model="form.company_name" @blur="touch('company_name')"/>
              </div>
              <span class="help-block" v-if="showHelp('company_name')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('contact_name')">
              <label>Contact Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                <input type="text" class="form-control" v-model="form.contact_name" @blur="touch('contact_name')"/>
              </div>
              <span class="help-block" v-if="showHelp('company_name')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('contact_phone')">
              <label>Contact Phone</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-phone"></i></div>
                <input type="tel" class="form-control" v-model="form.contact_phone"/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('contact_email')">
              <label>Contact Email</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                <input type="email" class="form-control" v-model="form.contact_email"/>
              </div>
              <span class="help-block" v-if="showHelp('contact_email')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="form-group" :class="required('city')">
              <label>City</label>
              <input type="text" class="form-control" v-model="form.city"/>
              <span class="help-block" v-if="showHelp('city')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group" :class="required('state')">
              <label>State</label>
              <select class="form-control" v-model="form.state">
                <option value="">Select one</option>
                <option value="AL">Alabama</option>
                <option value="OH">Ohio</option>
                <option value="WY">Wyoming</option>
              </select>
              <span class="help-block" v-if="showHelp('state')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group" :class="required('country')">
              <label>Country</label>
              <select class="form-control" v-model="form.country">
                <option value="">Select one</option>
                <option value="CA">Canada</option>
                <option value="US">United States</option>
              </select>
              <span class="help-block" v-if="showHelp('country')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('distributor_name')">
              <label>Distributor Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-building"></i></div>
                <input type="text" class="form-control" v-model="form.distributor_name" @blur="touch('distributor_name')"/>
              </div>
              <span class="help-block" v-if="showHelp('distributor_name')"><strong>Required</strong></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group" :class="required('distributor_contact')">
              <label>Distributor Contact Name</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                <input type="text" class="form-control" v-model="form.distributor_contact" @blur="touch('distributor_contact')"/>
              </div>
              <span class="help-block" v-if="showHelp('distributor_contact')"><strong>Required</strong></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Notes/message</label>
              <textarea class="form-control" v-model="form.notes" rows="4"></textarea>
            </div>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>Recipients (This can be removed before launch)</label>
              <span class="help-block">You don't add yourself because you will be automatically CC'd on the email.</span>
              <div v-for="(item, index) in form.recipients" class="input-group">
                <input type="email" class="form-control" v-model="form.recipients[index]" :value="item"/>
                <div class="input-group-addon" @click.prevent="addRecipient()">
                  <i class="fa fa-fw fa-btn fa-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>-->

      </div><!-- /panel-body -->

      <div class="panel-footer">
        <!--<p v-if="formInvalid" class="text-warning">Required field(s) are missing or invalid. Check your input.</p>-->
        <button class="btn btn-primary">
          <span v-if="form.busy"><i class="fa fa-fw fa-btn fa-spin fa-spinner"></i>Working</span>
          <span v-else>Submit</span>
        </button>
      </div>
    </div>
    <!-- Uncomment this for debugging -->
    <!--<pre>{{ $v }}</pre>-->
    <!--<pre>{{ form }}</pre>-->

  </form>
</template>
<script>
  import {email, maxLength, minLength, numeric, required, requiredIf, requiredUnless, sameAs} from 'vuelidate/lib/validators';
  import moment from 'moment';
  import _ from 'lodash';
  import toastr from 'toastr';

  export default {
    props: {
      showHeading: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        form: new SparkForm({
          //recipients: ['sales@winterequipment.com'],
          category: '',
          company_name: 'Some Company',
          contact_name: 'Bob Smith',
          contact_email: 'bob@company.com',
          contact_phone: '555-444-1111',
          city: 'Battle Creek',
          state: 'MI',
          country: 'US',
          distributor_name: 'XYZ Widget Distributors',
          distributor_contact: 'Walter White',
          notes: '',
        }),
        categories: [
          {id: 'Coil Heaters'},
          {id: 'Cartridge Heaters'},
          {id: 'Nextflex'},
          {id: 'Sensors'},
          {id: 'Temperature Controllers'},
          {id: 'Tubular and Immersion Heaters'},
          {id: 'Heater Accessories'},
          {id: 'Elstein Ceramic Infrared Radiators'},
        ]
      }
    },
    // Vuelidate: https://monterail.github.io/vuelidate/
    validations: {
      form: {
        category: {
          required,
        },
        company_name: {
          required,
        },
        contact_name: {
          required,
        },
        contact_email: {
          email,
          required,
        },
        contact_phone: {
          required,
        }
      }
    },
    computed: {
      formInvalid() {
        return !this.formValid;
      },
      formValid() {
        if (!this.$v.$invalid) {
          return true;
        }
        if (!this.$v.$dirty) {
          return false;
        }
        if (this.$v.$invalid) {
          return false;
        }
        return true;
      }
    },
    mounted() {
      window.scrollTo(0, 0);
    },
    methods: {
      touch(field) {
        if (!_.isUndefined(this.$v.form[field])) {
          this.$v.form[field].$touch();
        }
      },
      showHelp(field) {
        if (this.error(field)) {
          return true;
        }
        if (this.warning(field)) {
          return true;
        }
        return false;
      },
      dirty(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$dirty;
      },
      error(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$error;
      },
      warning(field) {
        if (_.isUndefined(this.$v.form[field])) {
          return false;
        }
        return this.$v.form[field].$invalid && !this.$v.form[field].$dirty;
      },
      required(field) {
        return {
          'has-error': this.error(field),
          'has-warning': this.warning(field),
          'has-success': this.dirty(field) && !this.error(field) && !this.warning(field),
        };
      },
      submit() {
        this.form.startProcessing();
        const form = {
          company_name: this.form.company_name,
          contact_name: this.form.contact_name,
          contact_email: this.form.contact_email,
          contact_phone: this.form.contact_phone,
          city: this.form.city,
          state: this.form.state,
          country: this.form.country,
          distributor_name: this.form.distributor_name,
          distributor_contact: this.form.distributor_contact,
          notes: this.form.notes,
        };
        mobilelocker.submitForm('quote', form)
          .then(response => {
            toastr.success('Form submitted successfully!');
            this.$router.push({name: 'refresh', query: {route: 'quote'}});
          })
          .catch(err => {
            toastr.error('There was a problem');
            console.error(err);
            if (err.response) {
              this.form.setErrors(err.response.data);
            } else {
              this.form.setErrors('There was a problem');
            }
          })
      }
    }
  }
</script>
