<template>
  <div v-if="calendar">
    <pre>{{ calendar }}</pre>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget"
         :data-url="calendar.url"
         style="min-width:320px;height:630px;">

    </div>
    <!-- Calendly inline widget end -->
  </div>
</template>
<script>
  import _ from 'lodash';
  import calendarService from '../../services/calendarService';

  export default {
    data() {
      return {
        calendar: null,
        calendars: calendarService.getCalendars(),
      }
    },
    computed: {
      calendarID() {
        return parseInt(this.$route.params.calendarID);
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        console.log(this.calendarID);
        this.calendar = _.find(this.calendars, c => c.id == this.calendarID);
        console.log(this.calendar);
      }
    }
  }
</script>
