<template>
  <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          Schedule an Appointment at the Show
        </h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4"
               v-for="calendar in calendars"
               :key="calendar.id">
            <!--<router-link :to="{name: 'calendar.show', params: {calendarID: calendar.id}}"
                         class="btn btn-default btn-block">
              {{ calendar.name }}
            </router-link>-->
            <a href=""
               class="btn btn-default btn-block"
               @click.prevent="popup(calendar)">
              {{ calendar.name }}
            </a>
          </div>
        </div>
      </div>
  </div>
</template>
<script>

  import calendarService from '../../services/calendarService';

  export default {
    data() {
      return {
        calendars: calendarService.getCalendars(),
      }
    },
    methods: {
      popup(calendar) {
        Calendly.initPopupWidget({url: calendar.url});
      }
    }
  }
</script>
